<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-commerce platform</title>
    <link rel="stylesheet">
</head>
<body>
<header>
    <h1>E-commerce Platform</h1>
    <nav>
        <a href="/products">Home</a>
        <a href="/cart/">Cart</a>
        <a href="/orders/">Orders</a>
        <a href="/admin-dashboard/analytics/">Admin Dashboard</a>
    </nav>
</header>
<main>
    {% block content %}
        <a href="{% url 'checkout' %}">Checkout</a>
        <a href="{% url 'orders' %}">Orders</a>
    {% endblock %}
</main>
<footer>
    <p>&copy; 2024 E-commerce Platform</p>
</footer>
</body>
</html>